<!-- Header content according to login status -->
<header>
  <div class="header">
    AUTHENTICATION SYSTEM<% if(locals.user) {%>
    <a href="/users/profile"><%= user.name %></a>
    <a href="/users/sign-out"> Sign Out</a>
    <% }else{ %>
    <a href="/users/sign-in"> Sign IN</a>

    <a href="/users/sign-up">Sign UP</a>
    <%}%>
  </div>
</header>
