<h1>Forgot Password</h1>

<form action="/users/retrivepassword" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <h4>Security Question *</h4>
  <p>Your Favourite Pet Name ?</p>
  <input type="text" name="ans" placeholder="ans" required />
  <input type="submit" value="Submit" />
  <a class="forgotPassword" href="/users/sign-in">Click to Sign IN</a>
</form>
